/* Utilities Layer */
/* Utility classes */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.list-unstyled {
  list-style: none;
  margin-left: 0;
}

.text-muted {
  color: var(--color-text-muted);
}

.no-underline {
  text-decoration: none;
  border-bottom: none;
}
